.music-player {
    background-color: #000000be;
    color: #FFFFFF; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 10px; */
    /* Fijar el reproductor en la parte inferior */
    bottom: 0;
    left: 0;
    right: 0;
    width: 85%;
    margin-left: 10.2%;
    border-radius: 10px 10px 0px 0px;
  }
  
.music-player button{
  height: 30px;
  color: #fff !important;
  background-color: #13286d7c !important;
}
  .album-cover img {
    max-width: 120px;
    height: 60px;
    border-radius: 4px;
  }
  .song-info {
    /* flex: 1; */
    text-align: center; /* Centrar el texto */
  }
  .song-title {
    font-size: 25px;
    font-weight: bold;
  }
  .artist {
    display: flex;
    flex-direction: row;
    font-size: 14px;
  }
 
  /* .playlist button {
    background-color: #E90C0C;
    border: none;
    color: #E90C0C;
    cursor: pointer;
    font-size: 14px;
    text-align: left;
  } */
  .playlist-header{
    /* width: 75%; */
    height: 300px;
    display: flex;
    margin: 2%;
    margin-left: 15%;
    color: white;
  }
  #playlist-cover{
    margin-right: 50px;
    max-height: 100%;
    width: 30%;
    border-radius: 15px;
    margin-top: 2%;

  }
  .playlist-header h1{
    margin-left: 6.5%;
    margin-top: 3%;
  }
  /* ... (otros estilos) */
  /* Estilos para la lista de canciones */
.song-list {
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal si es necesario */
  margin-top: 3%;
}
.song-list ul {
  width: 85%;
  margin-left: 10.2%;
  border-radius: 10px 10px 0px 0px;
}
.music-player button{
height: 30px;
color: #fff !important;
background-color: #13286d7c !important;
}
.album-cover img {
  max-width: 120px;
  height: 60px;
  border-radius: 4px;
}
.song-info {
  /* flex: 1; */
  text-align: center; /* Centrar el texto */
}
.song-title {
  font-size: 25px;
  font-weight: bold;
}
.artist {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}
/* .playlist button {
  background-color: #E90C0C;
  border: none;
  color: #E90C0C;
  cursor: pointer;
  font-size: 14px;
  text-align: left;
} */
.playlist-header{
  /* width: 75%; */
  height: 300px;
  display: flex;
  margin: 2%;
  margin-left: 15%;
  color: white;
}
/* .song-list button:hover{
  background-color: #000000;
} */
#like-button{
width: 5%;
margin-left: 2%;
/* background-color:transparent; */
}
#like-button.liked {
color: purple; /* Color de texto morado */
transition: color 0.3s ease;
animation: heartBeat 0.8s ease;
}
/* .title-container{
} */
.play-all-button {
background-color: #333; /* Color de fondo gris */
color: #fff; /* Texto blanco */
border: none;
border-radius: 4px;
padding: 8px 16px;
cursor: pointer;
font-size: 14px;
margin-right: 10px; /* Espacio entre los botones */
}
.play-all-button:hover {
background-color: #555; /* Color de fondo gris más oscuro al pasar el mouse */
}
/* Estilo para el botón "Add to collection" */
.add-to-collection-button {
background-color: #333;
color: #fff; /* Color de texto gris */
border: none;
border-radius: 4px;
padding: 8px 16px;
cursor: pointer;
font-size: 14px;
}
.add-to-collection-button:hover {
color: red; /* Cambia el color del texto a rojo al pasar el mouse */
}
.pagination {
display: flex;
justify-content: center;
gap: 10px; /* Espacio entre los botones de página */
}
.page-button {
display: inline; /* Para mostrar los botones en línea */
height: auto;
margin-bottom: 1%;
width: 3%;
}

/* .title-container{
  
} */

.play-all-button {
  background-color: #333; /* Color de fondo gris */
  color: #fff; /* Texto blanco */
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px; /* Espacio entre los botones */
}

.play-all-button:hover {
  background-color: #555; /* Color de fondo gris más oscuro al pasar el mouse */
}

/* Estilo para el botón "Add to collection" */
.add-to-collection-button {
  background-color: #333;
  color: #fff; /* Color de texto gris */
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
}

.add-to-collection-button:hover {
  color: red; /* Cambia el color del texto a rojo al pasar el mouse */
}
.pagination {
  display: flex;
  justify-content: center;
  gap: 10px; /* Espacio entre los botones de página */
}

.page-button {
  display: inline; /* Para mostrar los botones en línea */
  height: auto;
  margin-bottom: 1%;
  width: 3%;
}

@keyframes heartBeat {
0% {
  transform: scale(1); /* Tamaño normal */
}
25% {
  transform: scale(1.3); /* Aumentar tamaño al 25% de la animación */
}
50% {
  transform: scale(1); /* Volver al tamaño normal al 50% de la animación */
}
75% {
  transform: scale(1.3); /* Aumentar tamaño al 75% de la animación */
}
100% {
  transform: scale(1); /* Volver al tamaño normal al final de la animación */
}
}
@media (max-width: 360px) {
  /* Estilos generales del reproductor de música */
  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita la barra de desplazamiento horizontal */
    width: 100%;
    height: 100%;
  }
.music-player {
  background-color: #000000be;
  color: #FFFFFF;
  display: flex;
  flex-direction: column; /* Cambia a columna en pantallas pequeñas */
  align-items: center;
  padding: 10px;
  height: 195px;
}

/* Estilos para botones en pantallas pequeñas */
.music-player button {
  height: 30px;
  margin-top: 5px; /* Espacio entre los botones */
}

/* Estilos para la portada del álbum en pantallas pequeñas */
.album-cover img {
  max-width: 100%; /* Ajusta el tamaño de la imagen al ancho del contenedor */
  height: auto;
  border-radius: 0; /* Elimina el redondeo de las esquinas */
  margin-bottom: 10px; /* Espacio entre la imagen y el título */
}

/* Estilos para la información de la canción en pantallas pequeñas */
.song-info {
  text-align: center; /* Centra el texto */
}

.song-title {
  font-size: 14px !important; /* Reduzca el tamaño del título */
  margin-top: 10px; /* Espacio entre el título y el artista */
}

.artist {
  font-size: 12px !important; /* Reduzca el tamaño del texto del artista */
}

/* Estilos para los botones de control en pantallas pequeñas */
.controls button {
  color: #767070;
  border: none;
  border-radius: 4px;
  padding: 5px 10px; /* Reduzca el relleno */
  cursor: pointer;
  font-size: 12px; /* Reduzca el tamaño del texto */
  margin-top: 5px; /* Espacio entre los botones */
}

.controls button:hover {
  background-color: #1e49d7;
}

/* Estilos para el encabezado de la lista de reproducción (playlist-header) */
.playlist-header {
  width: 100%; /* Ancho completo en pantallas pequeñas */
  display: flex;
  flex-direction: column; /* Cambia a columna en pantallas pequeñas */
  align-items: center; /* Centra los elementos horizontalmente */
  color: white;
}

#playlist-cover {
  width: 80%; /* Utiliza todo el ancho disponible */
  margin-left: -10%;
  height: auto; /* Ajusta la altura automáticamente */
  border-radius: 0; /* Elimina el redondeo de las esquinas */
}

.playlist-header h1 {
  font-size: 25px; /* Reduzca el tamaño del título */
  text-align: center;
  margin-top: 10px; /* Espacio entre el título y la imagen */
}

/* Estilos para la lista de canciones en pantallas pequeñas */
.song-list {
  width: 95%; /* Ancho del contenido en pantallas pequeñas */
  margin: 0; /* Centra la lista horizontalmente */
  overflow-y: hidden; /* Oculta la barra de desplazamiento vertical */
  margin-top: 3%; /* Espacio entre la lista y el encabezado */
}

.song-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.song-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 2px;
  color: #FFFFFF;
}

.song-list li img {
  max-width: 62px;
  height: auto;
  border-radius: 0;
  margin-right: 10px;
}

.song-list button {
  width: 100%;
  height: 30px;
  color: white;
  background-color: #000000b0;
  border: none;
  cursor: pointer;
  border-radius: 0;
  font-size: 12.8px !important;
  margin-top: 5px;
}

#like-button {
  width: auto; /* Ancho automático para mantener la posición */
  margin-left: 10px; /* Espacio entre el botón "Like" y los demás botones */
  display: flex;
}

#like-button.liked {
  color: purple;
  transition: color 0.3s ease;
  animation: heartBeat 0.8s ease;
}

.play-all-button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  margin-left: 10%;
  margin-right: 10px; /* Espacio entre el botón "Reproducir todas" y los demás botones */
  margin-top: 10px; /* Espacio entre el botón "Reproducir todas" y la lista de canciones */
}

.play-all-button:hover {
  background-color: #555;
}

.add-to-collection-button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 5px; /* Espacio entre el botón "Agregar a la colección" y "Me gusta" */
}

.add-to-collection-button:hover {
  color: red;
}
.title-container{
  margin-left: -30%;
}
.page-button {
  display: inline; /* Para mostrar los botones en línea */
  height: auto;
  margin-bottom: 1%;
  width: 10%;
}
}