/* Estilos para la tarjeta 1 */
.card1 {
    background-color: #222222; 
    color: #fff; 
  }
  
  /* Estilos para la tarjeta 2 */
  .card2 {
    background-color: #222222; 
    color: #fff;
  }
  
  /* Estilos para la tarjeta 3 */
  .card3 {
    background-color: #222222;
    color: #fff; 
  }
  