.Card-top{
    margin-top: 10px; 
    margin-bottom: 30px;
    margin-right: 10px;
}

.titulo-topsongs{
  justify-content: center;
  text-align: center;
}

.topssongs{
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Estilos para pantallas con un ancho máximo de 360px */
@media (max-width: 360px) {
    .topssongs {
      font-size: 18px; /* Reduzca el tamaño de fuente del título */
      text-align: center; /* Centre el texto horizontalmente */
      margin-bottom: 10px;
      margin-left:-10px;
      margin-top: 10px; /* Agregue espacio inferior entre el título y las tarjetas */
      width: 360px;
    }
  
    .Cards-top {
      display: flex;
      flex-wrap: wrap; /* Permite que las tarjetas se ajusten en filas */
      justify-content: center; /* Centra las tarjetas horizontalmente */
     margin-left: -10px;
    }
  
    .Card-top {
      width: 100%;
      
      /* margin: 10px;  */
    }
  
    .Card-top .MuiCard-root {
       /* width: 360px; */
    }

    .CardComponent{
      /* width: 360px; */
    }
  }
  