.headerunico {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: #1d2123;
}

.logo-box {
  /* background-color: yellowgreen; */
  width: 10%;
  height: 100px;
}

.img-header-unico {
  /* background-color: blueviolet; */
  margin-left: 5px;
  width: 80%;
  height: 110%;
}
.Admi{
  width: 20%;
  height: 35px;
  background-color: black;
}
.AdmiHome{
  width: 130%;
  margin-left: -10%;
  margin-top: -10%;
}

.titulo-box {
  width: 1400px;
  /* height: 6px; */
  text-align: center;
  /* font-size: xx-large; */
}

@media screen and (max-width: 360px) {
  .headerunico {
    width: 100%;
    /* flex-direction: column;  */
  }

  .logo-box {
    width: 30%;
    height: auto;
  }

  /* .img { 
        width: 100%; 
    } */

  .titulo-box {
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    /* align-items: center; */
    width: auto;
    height: auto;
    font-size: larger;
    margin-left: 10%;
    /* margin-top: -3%; */
  }

  /* .titulo{
        margin-top: -15%;
    } */
}
