.Container {
    width: 4%;
    height: 300px;
    margin-top: -250px;
    /* margin-left: 20px; */
  }
  
  button:hover {
    background: rgb(49, 136, 228);
    border-radius: 50px 50px 50px 50px;
  }
  
  .boxSong {
    background-color: rgba(26, 30, 31, 1);
    border-radius: 50px;
    width: 100%;
    height: 150px;
    margin-top: 8%;
  }
  
  .home {
    width: 80%;
  }
  .categorie {
    width: 110%;
    margin-left: -3%;
  }
  
  .loginbutton {
    width: 100%;
    height: 40%;
    border: none;
    margin-top: 10%;
    background-color: rgba(26, 30, 31, 1);
    border-radius: 60px;
    cursor: pointer;
  }
  .login {
    width: 80%;
    cursor: pointer;
  }
  .Usuario{
    width: 130%;
    margin-left: -15%;
    cursor: pointer;
  }
  .CerrarSesion{
    width: 110%;
    cursor: pointer;
    margin-left: -5%;
  }
  .boxuser {
    border: 1px black solid;
    background-color: rgba(26, 30, 31, 1);
    border-radius: 50px;
    width: 100%;
    height: 170px;
    margin-top: 15%;
    cursor: pointer;
  }
  .registro {
    margin-left: 10%;
    width: 165%;
  }
  .registrobutton {
    width: 100%;
    height: 40%;
    border: none;
    margin-top: 20%;
    background-color: rgba(26, 30, 31, 1);
    border-radius: 60px;
    cursor: pointer;
  }
  .dropdown-content {
    width: 135%;
    background-color: rgba(26, 30, 31, 1);
    margin-left: 105%;
    margin-top: -110%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dropdown-content a {
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 3%;
    font-size: 15px;
  }
  
  .dropdown-content a:hover {
    background: rgb(49, 136, 228);
    border-radius: 15px;
  }
  
  @media screen and (max-width: 360px) {
    .Container {
      display: flex;
      flex-direction: column;
      transform: rotate(-90deg);
      height: 0%;
      width: 15%;
      margin-top: -30%;
      margin-left: 36.5%;
      /* height: auto; */
    }
  
    .boxSong {
      width: 100%;
      margin-top: 5%;
    }
    
    .boxuser {
      width: 100%;
    }

    .Usuario,
    .CerrarSesion{
      width: 100%;
      transform: rotate(90deg);
    }

    .home,
    .categorie{
      width: 100%;
      transform: rotate(90deg);
    }

    .login{
      margin-top: 60%;
      transform: rotate(90deg);
      width: 100%;
    }
    .registro {
      margin-left: -35%;
      margin-top: 90%;
      transform: rotate(90deg);
      width: 200%;
    }
  
    .loginbutton,
    .registrobutton {
      width: 100%;
      margin-top: 10%;
      position: relative;
    }
  
    .loginbutton .dropdown-content,
    .registrobutton .dropdown-content {
      display: none;
      position: absolute;
      transform: rotate(90deg);
      top: 0.5px;
      margin-left: -220%;
      left: 0;
      width: 200%;
      background-color: rgba(26, 30, 31, 1);
      border-radius: 10px;
    }
  
    .loginbutton:hover .dropdown-content,
    .registrobutton:hover .dropdown-content {
      display: block;
    }
  
    .dropdown-content a {
      color: white;
      text-decoration: none;
      text-align: center;
      margin: 3%;
    }
  }
  