.music-player {

  background-color: #000000be;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px 10px 0px 0px;
}


.music-player button{
height: 30px;
color: #fff !important;
background-color: #13286d7c 
}

.title-container {

  display: flex;
  flex-direction: column;
  margin-top: -100px;
  text-align: center;

} 

.album-cover img {

  max-width: 120px;
  height: 60px;
  border-radius: 4px;
 
}
.song-info {
  /* flex: 1; */
  text-align: center;
}
.song-title {
  font-size: 25px;
  font-weight: bold;
}
.artist {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

.playlist-header{
  /* width: 75%; */
  height: 300px;
  display: flex;
  margin: 2%;
  margin-left: 15%;
  color: white;
}
#playlist-cover{
  margin-right: 50px;
  max-height: 100%;
  width: 30%;
  border-radius: 15px;
  margin-bottom:100px;
}
.playlist-header h1{
  margin-left: 6.5%;
  margin-top: 3%;
 
}


.song-list {
width: 100%; 
overflow-x: hidden; 
margin-top: 3%;
}
.song-list ul {
width: 85%;
margin-left: 8%;
list-style: none;

}
.song-list li {
display: flex; /* Muestra los elementos de la lista en línea */
/* align-items: center; */
margin-bottom: 1%;
padding: 2px; /* Espacio entre cada canción */
/* Fondo gris oscuro */
color: #FFFFFF; /* Texto blanco */
}
.song-list li img {
max-width: 62px;
height: auto;
margin-right: 10px; /* Espacio entre la imagen y el texto */
border-radius: 4px;
}
.song-list button{
align-items: center;
width: 100%;
height: 40px;
color: white;
background-color: #000000b0;
border-style: none;
cursor: pointer;
border-radius: 10px;
font-size: 18px;
}

#like-button{
width: 5%;
margin-left: 2%;
}

.play-all-button {
background-color: #333; /* Color de fondo gris */
color: #fff; /* Texto blanco */
border: none;
border-radius: 4px;
padding: 8px 16px;
cursor: pointer;
font-size: 14px;
margin-right: 10px; /* Espacio entre los botones */
}
.play-all-button:hover {
background-color: #555; /* Color de fondo gris más oscuro al pasar el mouse */
}
/* Estilo para el botón "Add to collection" */
.add-to-collection-button {
background-color: #333;
color: #fff; /* Color de texto gris */
border: none;
border-radius: 4px;
padding: 8px 16px;
cursor: pointer;
font-size: 14px;
}
.add-to-collection-button:hover {
color: red; /* Cambia el color del texto a rojo al pasar el mouse */
}

.paginationsound button {
  border: none; /* Sin borde */
  color: #fff; /* Texto en blanco */
  cursor: pointer;
  padding: 0; /* Sin relleno interno */
  border-radius: 10px; /* Sin bordes redondeados */
  outline: none; /* Eliminar el contorno al hacer clic */
  opacity: 0.7; /* Transparencia del botón */
  transition: opacity 0.3s; /* Efecto de transición al pasar el cursor */
  display: flex contents;
  width: 400%;
  height: 40px;
  margin-bottom: 60%;
  background-color: #000000b0;
 
}
.paginationsound {
  display: flex;
  justify-content: center;
  gap: 40px; /* Espacio entre los botones de página */
  
 
}
.paginationsound button:hover {
  opacity: 1; /* Aumentar la opacidad al pasar el cursor */
}



@media (max-width: 360px) {


  .music-player {
    margin-top: 15px;
    background-color: #000000be;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:10%;
    margin-right: 10%;
    padding-bottom: 4%;
    padding-left:0.1%;
    padding-right:0.2%;
   
  }

  #audio{
    
    width: 80%;
  }
  .controls button {
    color: #767070;
    border: none;
    border-radius: 4px;
    padding: 5px 10px; 
    cursor: pointer;
    font-size: 12px; 
    margin-top: 5px; 
  }


.album-cover img {
max-width: 100%; /* Ajusta el tamaño de la imagen al ancho del contenedor */
border-radius: 0; /* Elimina el redondeo de las esquinas */
margin-bottom: 0.90%; /* Espacio entre la imagen y el título */
}
/* Estilos para la información de la canción en pantallas pequeñas */
.song-info {
text-align: center; /* Centra el texto */
}
.song-title {
font-size: 14px !important; /* Reduzca el tamaño del título */
margin-top: 10px; 
}
.artist {
font-size: 11px !important; /* Reduzca el tamaño del texto del artista */
}


.playlist-header {
width: 100%; /* Ancho completo en pantallas pequeñas */
display: flex;
flex-direction: column; /* Cambia a columna en pantallas pequeñas */
align-items: center; 
color: white;
}

#playlist-cover{
  width: 65%;

}
.buttons-container{
  padding: 2.5px 5px; 
  border-radius: 4px;
  display: flex;
  flex-direction: row;
}

.playlist-header h1 {
font-size: 20px; /* Reduzca el tamaño del título */
text-align: center;
margin-bottom:-5px; /* Espacio entre el título y la imagen */
}
.song-list {
width: 15%; 
margin: 0; /* Centra la lista horizontalmente */
overflow-y: hidden; /* Oculta la barra de desplazamiento vertical */
margin-top: 3%; /* Espacio entre la lista y el encabezado */
}
.song-list ul {
list-style: none;
margin: 0;
padding: 0;
margin-top: 5px;
}
.song-list li {
display: flex;
align-items: center;
margin-bottom: 10px;
padding: 2px;
color: #FFFFFF;
}
.song-list li img {
max-width: 62px;
height: auto;
border-radius: 0;
margin-right: 10px;
margin-top: 8px;
}
.song-list button {
width: 100%;
height: 30px;
color: white;
background-color: #000000b0;
border: none;
cursor: pointer;
border-radius: 0;
font-size: 12.8px !important;
margin-top: 5px;
}

.page-buttonSound {
  display: inline; 
  height: auto;
  margin-bottom: 1%;
  width: 2.5%;
  background: transparent;
  border:none;
}


.add-to-collection-button {
  width: 160px;
  text-wrap: nowrap;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 5px; /* Espacio entre el botón "Agregar a la colección" y "Me gusta" */
}


.title-container{
margin-left: -30%;
}
}