.animadaview{
    background-image: url('https://res.cloudinary.com/dq2tfglqq/image/upload/v1696321499/Pixar_Animation_Studios_Toy_Story_A_Bug_s_Life_Toy_Story_2_Monsters_Inc_Ratatouille_WALL_E_Up_movie-1357895_rrzmhy.png'); 
    background-size: cover;
    background-attachment: fixed;
    /* margin: 0;
    min-height: 100vh; Asegura que el fondo ocupe al menos toda la altura de la pantalla */
    min-height: 100vh;
    width: 100%;
}

.menuview{
    /* height: 2px; */
    display: flex;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    /* margin-top: 18%; */
    width: 100%;
}