.body {
  height: 745px;
  margin-bottom: -1%;
  background-image: url("https://res.cloudinary.com/da7ffijqs/image/upload/v1695497506/20818_kldrhd.jpg");
  background-position-x: 25%;
  background-position-y: 50%;
}
.Boxes {
  background-color: rgba(255, 255, 255, 0.701);
}
.Casita{
  width: 15%;
  margin-top: 2%;
  margin-left: -140%;
  background-color: rgb(221, 221, 221);
  border: none;
}
.casitas{
  width: 100%;
}
.LOGINS{
  color: rgb(0, 145, 255);
}

@media screen and (max-width: 360px) {
  .body {
    height: auto; 
    margin-bottom: -10px; 
    background-position-x: center; 
    background-position-y: top;
  }

  .Casita {
    width: 20%; 
    margin: 0 auto; 
  }

  .casitas {
    width: 100%; /* Cambia el ancho de .casitas al 100% */
  }
}