body{
    background-color: rgba(175, 183, 187, 1);
}

.BOX{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: flex-start;
}
.Logo{
    width: 10%;
    height: 120px;
}
.img{
    margin-left: -10%;
    width: 120%;
}

.Name{
    color: white;
    width: 1400px;
    height: 60px;
    text-align: center;
    font-size: xx-large;
}
.search-box{
    margin-top: -0.5%;
    display: flex;
    justify-content: left;
}
.Search{
    width: 1405px;
    height: 55px;
}
.button-search{
    width: 15%;
    height: 65px;
    background-color: rgba(29, 33, 35, 1);
}
.lupa{
    margin-left: 1%;
    width: 100%;
    transform: rotate(-40deg);
    opacity: 0.5;
}

.busqueda{
    width: 552%;
    height: 60px;
    font-size: larger;
    text-align: center;
    color: white;
    background-color: rgba(29, 33, 35, 1);
    margin-left: -182%
}

@media screen and (max-width: 360px) {
    .BOX {
        width: 100%;
        flex-direction: column; 
    }

    .Logo {
        width: 25%; 
        height: auto; 
    }

    .img { 
        width: 100%; 
    }

    .Name{
        width: auto;
        height: auto;
        font-size: larger;
        margin-left: 15%;
        margin-top: -3%;
    }
    .search-box{
        margin-top: 18%;
    }
    .Search{
        width: 50%;
    }

    .button-search{
        width: 35%;
        height: 110%;
    }

    .lupa{
        margin-left: 1%;
        width: 100%;
    }
    
    .busqueda{
        margin-left: -147%;
        height: 96%;
        font-size: large;
    }

    .box2{
        margin-top: -15%;
    }
}