#Carousel {
  height: 100%;
}

.swiper {
  /* margin-top: 10%; */
  width: 90rem; 
  height: 200px;
  overflow: hidden; /* Oculta el desbordamiento del carrusel */
}

.swiper-slide {
  width: 90rem;
  text-align: center;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
  transition: transform 0.2s ease-in-out, box-shadow 0.1s ease-in-out; /* Agrega una transición suave */
}

.swiper-slide:hover {
  transform: scale(0.9); /* Escala la tarjeta al hacer hover */
  box-shadow: 1px 8px 12px 1px rgba(0, 0, 0, 0.2); /* Aumenta la sombra en hover */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}


.audioboton {
  width: 100%;
  margin-top: 15px;

}


@media screen and (max-width: 360px) {
  .mySwiper {
    width: 360px;
  }

  .swiper-slide {
    min-width: 200px;
    flex: 0 0 auto; /* Evita que las tarjetas cambien de tamaño */
  }
}
