.bodys {
  background-image: url("https://res.cloudinary.com/da7ffijqs/image/upload/v1695380423/5240d4c9fc9a18de6d58e1c264f7a6a8_gqmqcw.jpg");
  width: auto;
  height: 675px;
  background-size: cover; 
  background-repeat: no-repeat;
  margin-bottom: 3%;
}

.Home{
  width: 10%;
  background-color: rgb(33, 22, 22);
  text-decoration: none;
  font-size: larger;
  border: none;
}
.casa{
  width: 100%;
}