body {
  background-image: url("https://res.cloudinary.com/da7ffijqs/image/upload/v1695380423/5240d4c9fc9a18de6d58e1c264f7a6a8_gqmqcw.jpg");
  width: auto;
  height: 675px;
  margin-top: -20%;
  background-size: cover; 
  background-repeat: no-repeat;
  margin: 0;
}
